PORT=3000

# Database (Turso / LibSQL)
DB_TURSO_URL=libsql://your-database-url.turso.io
DB_TURSO_AUTH_TOKEN=your-auth-token

# Frontend & CORS
DOMAIN_FOR_FRONTEND=http://localhost:3000

# Application Environment
NODE_ENV=development
JWT_SECRET=your-secret-key

# Cookies Configuration
HTTP_ONLY=true
SECURE=false
SAME_SITE=lax
MAX_AGE=172800000 # 2 days in milliseconds
PATH=/

# Email Service (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
