PORT=

#DB (production)
DB_TURSO_URL=
DB_TURSO_AUTH_TOKEN=

#Cors for frontend peticion
DOMAIN_FOR_FRONTEND=

#Production ?
NODE_ENV=

#JsonWebTokens
JWT_SECRET=
OPTION_JWT_SECRET=

#Cookies Config
HTTP_ONLY=
SECURE=
SAME_SITE=
MAX_AGE=
COOKIE_ROOT=

#Email Send Config
EMAIL_HOST= #Email host
EMAIL_PORT= #Services email port
EMAIL_SECURE= #segurity
EMAIL_USER= #corp Email
EMAIL_PASS= #password email